* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', 'Lato', sans-serif;
}

.navbar {
	position: fixed;
  background-color: rgba(16, 16, 29, 0.9);
  padding: 1rem;
	display: flex;
	width: 100%;
  height: 100px;
	padding: 0px 20px;
	transform: translateY(-100%);
  opacity: 0;
  animation: navbar-slide-in 0.6s ease-out forwards;
	z-index: 10000;

  &__container {
		width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    font-size: 1.75rem;
    font-weight: 700;
    display: flex;
    align-items: center;

    &-main {
      color: #fff;
    }

    &-accent {
      color: #42A9ED;
    }
  }

  &__toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;

    &-line {
      width: 25px;
      height: 2px;
      background-color: #fff;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__menu {
    @media (max-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: rgba(16, 16, 29, 0.95);
      display: none;

      &--active {
        display: block;
      }
    }
  }

  &__list {
    display: flex;
    gap: 3.75rem;
    list-style: none;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 1rem;
    }
  }

  &__item {
    &--active .navbar__link {
      color: #42A9ED;
    }
  }

  &__link {
		font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 0.8125rem;

    &:hover {
      color: #90a0b4;
    }
  }
			@keyframes navbar-slide-in {
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}		
}


.promo {
	display: flex;
	min-height: 850px;
	width: 100%;
	background-image: url('../img/businessmans.png');
	background-size: cover;
	background-position: center;
	padding: 0px 20px;

  &__container {
    display: flex;
		max-width: 1170px;
		width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
  }

  &__content {
		max-width: 66%;
    flex: 1 1 500px;
  }

  &__title {
		font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.2;

    &-accent {
      color: #42A9ED;
    }
  }

  &__subtitle {
		font-family: 'Lato', sans-serif;
		margin-top: 90px;
    font-size: 1.25rem;
		font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__list {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
    list-style: none;
    margin-bottom: 1.5rem;
		margin-left: 0.5rem;
		font-size: 1.25rem;
  }

  &__item {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
		margin-top: 4.5rem;
  }

  &__btn {
		font-family: 'Lato', sans-serif;
		width: 180px;
		height: 43px;
    font-size: 0.8125rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
		border-radius: 4px;

    &--primary {
      background-color: #42A9ED;
      color: #fff;
			border: 1px solid #fff;
			transition: ease-in-out .3s;

			&:hover {
				background-color: #2A2B30;
			}
    }

    &--secondary {
      background-color: #fff;
      color: #2A2B30;
      border: 1px solid #6F6D7B;
			transition: ease-in-out .3s;

			&:hover {
				background-color: #2A2B30;
				color: #FFF;
				border-color: #FFF;
			}
    }
  }
}



.order {
  background-color: #272733;
	font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 4rem 1rem;
	background-image: url('../img/layer.png');
	background-size: cover;	
	background-position: center;
	padding: 7.5rem 20px;

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;

    &-accent {
      color: #42A9ED;
    }
  }

  &__subtitle {
    margin-top: 2rem;
		margin-bottom: 5rem;
    font-size: 1.125rem;
    font-weight: 300;
		color: #BBBBBB;
  }

  &__steps {
    display: flex;
		position: relative;
		max-width: 1165px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 0;
		margin-bottom: 5rem;
    gap: 1rem;
  }

	&__dots_wrapper {
		position: absolute;
		top: 50%;
  	left: 50%;
		top: 33%;
  	transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		padding: 0 172px;
		z-index: 0;
	}

  &__step {
    flex: 1 1 150px;
    display: flex;
		flex-direction: column;
    align-items: center;
    gap: 1.2rem;
		padding: 0 1rem;
		z-index: 2;
  }

  &__icon {
		display: flex;
    width: 100px;
    height: 100px;
		justify-items: center;
		align-items: center;
    background-color: #42a9ed;
    border-radius: 50%;
		border: 5px solid #286690;

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      height: 100%;
    }
  }

	&__icon--img {
		margin: auto;
	}

  &__text {
    font-size: 1rem;
		font-family: 'Lato', sans-serif;
  }


  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  &__fields {
    display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
		max-width: 1170px;
		width: 100%;
  }

  &__input {
		font-family: 'Lato', sans-serif;
		height: 48px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #fff;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    min-width: 220px;
		font-size: 1.1rem;
		color: #272733;
  }

input::-webkit-input-placeholder {
  color: #272733;
}
input:-moz-placeholder {
  color: #272733;
  opacity: 1;
}
input::-moz-placeholder {
  color: #272733;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #272733;
}

  &__file {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Lato', sans-serif;
		height: 48px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #272733;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    min-width: 220px;
		max-width: 370px;
		width: 100%;
  }

	&__file-icon {
		margin-right: 0.6rem;
	}

  &__progress {
		position: relative;
		grid-column: span 2;
		margin-top: -4px;
    text-align: left;
  }

  &__progress-label {
		font-family: 'Lato', sans-serif;
		font-size: 1.2rem;
		font-weight: 300;
    margin-bottom: 1.5rem;
    display: block;
  }

  &__progress-bar {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    height: 6px;
    border-radius: 3px;
  }

  &__progress-fill {
    height: 100%;
		position: relative;
  }

	&__progress-circle {
		position: absolute;
		right: -50px;
		top: -9px;
		width: 24px;
		height: 24px;
		background-color: #42A9ED;
		border: 3px solid #286690;
		border-radius: 12px;
	}

  &__progress-value {
		font-family: 'Lato', sans-serif;
		font-size: 1.2rem;
		font-weight: 300;
    position: absolute;
    right: 0;
    top: -2.7rem;
  }

  &__submit {
		font-family: 'Lato', sans-serif;
		font-size: 0.95rem;
		max-width: 370px;
		width: 100%;
		height: 48px;
    background-color: #3E9CDC;
    color: #fff;
    border: 1px solid #FFF;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    border-radius: 4px;
		margin-top: 24px;
    cursor: pointer;
		transition: ease-in-out .3s;

		&:hover {
				background-color: #2A2B30;
			}
  }
}

.footer {
	font-family: 'Lato', sans-serif;
  background-color: #3D4050;
	height: 80px;
  font-size: 0.8rem;
	padding: 0 20px;

  &__container {
    max-width: 1170px;
		height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 1.5rem;
    }
  }

  &__column {
    display: flex;
		justify-content: center;
    gap: 2rem;

    &--left {
      align-items: flex-start;
			color: #fff;
			border-right: 1px solid #C3C3C3;
			padding-right: 40px;
    }

    &--center {
      align-items: center;
			  color: #c3c3c3;
				border-right: 1px solid #C3C3C3;
    }

    &--right {
			display: flex;
      align-items: flex-end;
			justify-items: end;
			color: #fff;
			padding-left: 35px;
    }

    @media (max-width: 768px) {
      align-items: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

	&__link {
		text-decoration: none;
		color: #fff;
		transition: ease-in-out .3s;

		&:hover {
			color:rgba(255, 255, 255, 0.7)
		}
	}


  &__copyright {
    line-height: 1.4;
  }

	&__copyright--mobile {
		display: none;
	}
}


@media (max-width: 1100px) {
	.order__dots_wrapper {
		display: none;
	}
}

@media (max-width: 768px) {
		.navbar {
			padding: 0px;

			&__logo-main {
				padding-left: 15px;
			}

			&__toggle {
				padding-right: 15px;
			}
		}
		.promo {
			min-height: auto;
			padding-bottom: 80px;

		&__container {
			flex-direction: column;
			padding-top: 150px;
		}

		&__content {
			max-width: 100%;
			width: 100%;
		}

		&__title {
			font-size: 2rem;	
		}

		&__subtitle {
			font-size: 1.2rem;
		}

		&__item {
			font-size: 1rem;
		}

		&__btn {
			width: 30%;
			text-align: center;
		}
	}

	.order {

		&__input {
			max-width: 100%;
			width: 100%;
			}

		&__file {
			margin: 0 auto;
			max-width: 100%;
			}

		&__steps {
    flex-direction: column;
    align-items: center;
  	}

	&__dots_wrapper {
		display: none;
		}

  &__fields {
    flex-direction: column;
    align-items: center;
  	}

  &__input,
  &__file {
    width: 100%;
    max-width: 300px;
  	}
	}

	.footer {
		height: auto;
		padding: 20px 0px;

		&__copyright {
			display: none;
		}

		&__copyright--mobile {
			display: inline;
			color:#FFF;
		}

		&__column {
			&--left {
			display: none;
		}

		&--center {
			border: none;
			}
		}		
	}
}



@media (max-width: 320px) {
		.navbar {
				height: 60px;

			&__logo {
				font-size: 1.3rem;
			}

			&__list {
				gap: 2rem;
			}
		}

		.promo {
			padding-bottom: 40px;

			&__container {
				padding-top: 100px;
			}

			&__title {
				font-size: 1.4rem;
			}

			&__subtitle {
				margin-top: 40px;
				font-size: 1rem;
			}

			&__item {
				font-size: 0.8rem;
			}

			&__btn {
				width: 100%;
			}
		}
		.order {
			padding: 40px 20px;
			&__title {
				font-size: 1.4rem;
				font-weight: 600;
			}

			&__subtitle {
				font-size: 1rem;
				margin-bottom: 0;
			}

			&__steps {
				margin-top: 20px;
			}

			&__step {
				flex: 1 1 100px;
			}

			&__icon {
				width: 60px;
				height: 60px;
			}

			&__input,
			&__file {
				max-width: 100%;
			}

			&__fields {
				flex-direction: column;
				gap: 20px 0px;
			}
		}

		.footer {
			padding: 15px;

			&__column--right {
				padding-left: 0;
			}
			
			&__item {
				display: flex;
			flex-direction: column;
			}

		}
}