* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', 'Lato', sans-serif;
}

.navbar {
	position: fixed;
  background-color: rgba(16, 16, 29, 0.9);
  padding: 1rem;
	display: flex;
	width: 100%;
  height: 100px;
	padding: 0px 20px;
	transform: translateY(-100%);
  opacity: 0;
  animation: navbar-slide-in 0.6s ease-out forwards;

  &__container {
		width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    font-size: 1.75rem;
    font-weight: 700;
    display: flex;
    align-items: center;

    &-main {
      color: #fff;
    }

    &-accent {
      color: #42A9ED;
    }
  }

  &__toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;

    &-line {
      width: 25px;
      height: 2px;
      background-color: #fff;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__menu {
    @media (max-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: rgba(16, 16, 29, 0.95);
      display: none;

      &--active {
        display: block;
      }
    }
  }

  &__list {
    display: flex;
    gap: 3.75rem;
    list-style: none;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 1rem;
    }
  }

  &__item {
    &--active .navbar__link {
      color: #42A9ED;
    }
  }

  &__link {
		font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 0.8125rem;

    &:hover {
      color: #90a0b4;
    }
  }
			@keyframes navbar-slide-in {
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}		
}


.promo {
	display: flex;
	min-height: 100vh;
	width: 100%;
	background-image: url('../img/businessmans.png');
	background-size: cover;
	background-position: center;
	padding: 0px 20px;

  &__container {
    display: flex;
		max-width: 1170px;
		width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
		margin-top: 5rem;
  }

  &__content {
		max-width: 66%;
    flex: 1 1 500px;
  }

  &__title {
		font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.2;

    &-accent {
      color: #42A9ED;
    }
  }

  &__subtitle {
		font-family: 'Lato', sans-serif;
		margin-top: 90px;
    font-size: 1.25rem;
		font-weight: 600;
    margin-bottom: 1rem;
  }

  &__list {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
    list-style: none;
    margin-bottom: 1.5rem;
		margin-left: 0.5rem;
		font-size: 1.25rem;
  }

  &__item {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
		margin-top: 5rem;
  }

  &__btn {
		font-family: 'Lato', sans-serif;
		width: 180px;
		height: 43px;
    font-size: 0.8125rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
		border-radius: 4px;

    &--primary {
      background-color: #42A9ED;
      color: #fff;
			border: 1px solid #fff;
    }

    &--secondary {
      background-color: #fff;
      color: #2A2B30;
      border: 1px solid #6F6D7B;
    }
  }
}

@media (max-width: 768px) {
  .promo__container {
    flex-direction: column;
  }

  .promo__image {
    width: 100%;
    height: 250px;
    margin-top: 1rem;
  }

  .promo__title {
    font-size: 1.5rem;
  }

  .promo__btn {
    width: 100%;
    text-align: center;
  }
}

.order {
  background-color: #272733;
	font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 4rem 1rem;
	background-image: url('../img/layer.png');
	background-size: cover;	
	background-position: center;
	padding: 7.5rem 20px;

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;

    &-accent {
      color: #42A9ED;
    }
  }

  &__subtitle {
    margin-top: 2rem;
		margin-bottom: 5rem;
    font-size: 1.125rem;
    font-weight: 300;
		color: #BBBBBB;
  }

  &__steps {
    display: flex;
		position: relative;
		max-width: 1165px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 0;
		margin-bottom: 5rem;
    gap: 1rem;
  }

	&__dots_wrapper {
		position: absolute;
		top: 50%;
  	left: 50%;
		top: 33%;
  	transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		padding: 0 172px;
		z-index: 0;
	}

  &__step {
    flex: 1 1 150px;
    display: flex;
		flex-direction: column;
    align-items: center;
    gap: 1.2rem;
		padding: 0 1rem;
		z-index: 2;
  }

  &__icon {
		display: flex;
    width: 100px;
    height: 100px;
		justify-items: center;
		align-items: center;
    background-color: #42a9ed;
    border-radius: 50%;
		border: 5px solid #286690;

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      height: 100%;
    }
  }

	&__icon--img {
		margin: auto;
	}

  &__text {
    font-size: 1rem;
		font-family: 'Lato', sans-serif;
  }


  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  &__fields {
    display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
		max-width: 1170px;
		width: 100%;
  }

  &__input {
		font-family: 'Lato', sans-serif;
		height: 48px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #fff;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    min-width: 220px;
		font-size: 1.1rem;
		color: #272733;
  }

input::-webkit-input-placeholder {
  color: #272733;
}
input:-moz-placeholder {
  color: #272733;
  opacity: 1;
}
input::-moz-placeholder {
  color: #272733;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #272733;
}

  &__file {
		font-family: 'Lato', sans-serif;
		height: 48px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #272733;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    min-width: 220px;
		max-width: 370px;
		width: 100%;
  }

  &__progress {
    width: 777px;
    text-align: left;
  }

  &__progress-label {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    display: block;
  }

  &__progress-bar {
    position: relative;
    background-color: #2a2b30;
    height: 10px;
    border-radius: 5px;
  }

  &__progress-fill {
    background-color: #42a9ed;
    height: 100%;
    border-radius: 5px;
  }

  &__progress-value {
    position: absolute;
    right: 0;
    top: -1.5rem;
    font-size: 0.75rem;
  }

  &__submit {
    background-color: #3e9cdc;
    color: #fff;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media (max-width: 1100px) {
	.order__dots_wrapper {
		display: none;
	}
}

@media (max-width: 768px) {
  .order__steps {
    flex-direction: column;
    align-items: center;
  }

	.order__dots_wrapper {
		display: none;
	}

  .order__fields {
    flex-direction: column;
    align-items: center;
  }

  .order__input,
  .order__file {
    width: 100%;
    max-width: 300px;
  }
}